@font-face {
	font-display: swap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 400;
	src: url("Gilroy-Regular.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 500;
	src: url("Gilroy-Medium.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 600;
	src: url("Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 700;
	src: url("Gilroy-Bold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 900;
	src: url("Gilroy-Extrabold.ttf") format("truetype");
}